* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 6fr / 1fr 6fr;
    grid-template-areas: 
    "header header"
    "sidebar content";
}

.header-container {
    background-color: #316FF6;

    display: flex;
    justify-content: center;

    grid-area: header;
}

.header-title {
    color: white;
    font-size: 5rem;
    align-content: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.nav-button {
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    width: 8vw;
    height: 4vh;
}

.nav-button:hover {
    background-color: #316FF6;
    color: white;
}

.sidebar-container {
    padding: 20px;
    background-color: white;
    grid-area: sidebar;
}

.project-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#project-modal-btn {
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.project-list-item {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.selected {
    background-color: #316FF6;
    color: white;
}

.project-list-item:hover {
    background-color: lightgray;
}

.project-list-item > span {
    font-size: 1.8rem;
}

.project-img {
    width: 30px;
    margin-right: 10px;
}

.project-list-item > button {
    width: 30px;
    height: 30px;
    margin-left: auto;
    align-self: center;
    border-radius: 50%;
    border: none;
}

.project-list-item > button:hover {
    background-color: red;
    color: white;
}

.content {
    grid-area: content;
    background-color: lightgray;
    padding: 0 20%;
    padding-top: 5%;
}

.todo-header-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#todo-modal-btn {
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 1.1rem;
}

.todo-card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2rem;
    border-radius: 8px;
}

.todo-delete {
    position: absolute;
    top: 10px;
    right: 10px;

    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.todo-delete:hover {
    background-color: red;
    color: white;
}

.todo-priority {
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.todo-priority.one {
    background-color: red;
}

.todo-priority.two {
    background-color: orange;
}

.todo-priority.three {
    background-color: yellowgreen;
}

.todo-priority.four {
    background-color: green;
}

.todo-edit {
    position: absolute;
    background-image: url("./icons/pencil.svg");
    background-color: white;
    right: 10%;
    width: 30px;
    height: 30px;
    border: none;
}